name: Run CI

on:
  pull_request:
  push:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Ensure site builds
        run: yarn build
        env:
          VITE_HCAPTCHA_SITEKEY: ${{ secrets.VITE_HCAPTCHA_SITEKEY }}
          VITE_BACKEND_URL: ${{ secrets.VITE_BACKEND_URL }}
          VITE_SOCIAL_GITHUB_URL: ${{ secrets.VITE_SOCIAL_GITHUB_URL }}
          VITE_SOCIAL_GITLAB_URL: ${{ secrets.VITE_SOCIAL_GITLAB_URL }}
          VITE_SOCIAL_LINKEDIN_URL: ${{ secrets.VITE_SOCIAL_LINKEDIN_URL }}
          VITE_SOCIAL_EMAIL_URL: ${{ secrets.VITE_SOCIAL_EMAIL_URL }}
          VITE_REPOSITORY_URL: ${{ secrets.VITE_REPOSITORY_URL }}
          VITE_BLOG_URL: ${{ secrets.VITE_BLOG_URL }}
          VITE_PLACEHOLDERS_ENABLED: ${{ secrets.VITE_PLACEHOLDERS_ENABLED }}
